<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload New File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Click below to upload a file or Drag and drop a file you want to upload to the below container
                <form class="mt-4" method="post" action="/handle_file_upload" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="fileToUpload">
                            Choose File Below
                        </label>
                        <input
                                type="file"
                                class="form-control-file"
                                id="fileToUpload"
                                name="uploadedFile"
                        />
                    </div>
                    <button type="submit" class="btn btn-primary">Uploaded File</button>
                </form>
            </div>
        </div>
    </div>
</div>
