<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" , href="/static/styles.css"/>

    <style type="text/css">

    </style>

</head>


<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script src="/static/jquery-3.5.1.min.js"></script>


<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
{% block scripts %}
{% endblock %}

</body>
</html>
