{% extends 'base.html' %}
{% block title %}
MyCloud List of Files
{% endblock %}
{% block content %}
<div class="header">
    {% include 'partials/header.html' %}

    <div class="content">
        <div class="row mt-4">
            <div class="col">
                <p>Uploaded Files</p>

            </div>
            <div class="col text-right">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Upload
                </button>
            </div>

        </div>
        {% if error != '' %}
        <div class="mt-5 alert alert-danger" role="alert">
            {{ error }}

        </div>
        {% endif %}

        <div class="mt-4">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col" style="width: 40%">File Name</th>
                    <th scope="col" style="width 25%">Uploaded</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for f in uploaded_files %}
                <tr>
                    <td>
                        {{ f['originalFileName'] }}
                    </td>
                    <td>
                        {{ f['createdAt'] }}
                    </td>
                    <td>
                        <button type="button"
                                class="btn btn-info btn-share-file"
                                data-file-id="{{ f['_id'] }}"
                                data-file-name="{{ f['originalFileName'] }}"

                        >
                            Share
                        </button>

                        <a href="/delete_file/{{ f['_id'] }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% include 'partials/upload-modal.html' %}
    {% include 'partials/share-modal.html' %}

</div>
{% endblock %}
{% block scripts %}
<script src="/static/files-page.js"></script>


{% endblock %}
