{% extends 'base.html' %}
{% block title %}
MyCloud Signup Page
{% endblock %}
{% block content %}
<div class="card login-card mt-5">
    <div class="card-body">
        <h2 class="text-center">My Cloud</h2>
        <h4 class="text-center mt-4">Create your account</h4>
        {% if error != '' %}
        <div class="mt-5 alert alert-danger" role="alert">
            {{ error }}

        </div>
        {% endif %}
        <form method="post" action="/handle_signup">
            <div class="form-group mt-4">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="form-group mt-5">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="text-center mt-5">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
        <div class="mt-5 text-center">
            Already have an account? <a href="/login">Login</a>
        </div>

    </div>
</div>
{% endblock %}
